body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: black;

<<<<<<< Updated upstream
  /* background: url("https://is.hit.ac.il/nidp/images/hit/images/backgrounds/building.jpg") */
  /* no-repeat center center fixed; */
  background-color: #f7f6dc;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.content-b {
  /* display: flex; */

  flex-direction: column;
}
.hit-img {
  width: 10%;
  height: 100;
  margin: auto 45%;
}

.content-d {
  display: flex; /*align child vertical*/
  justify-content: center;
  align-items: center;
=======
  margin: auto 0 auto 0;
}
.navbar {
  height: 45px;
}
.navbar-brand {
  width: 7%;
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.aa {
  width: 300px;
  text-align: center;
  display: block;
  background-color: #539d9d;
  color: aliceblue;
}
.BuildingPhoto {
}
.leaflet-popup-content-wrapper {
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.sidebar-header {
>>>>>>> Stashed changes
}
